@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1e6893;
}

.searchBar {
    width: 100vw;
}

@media screen and (min-width: 500px) {
    .searchBar {
        width: 50vh;
        margin-left: auto;
        margin-right: auto;
    }
}