@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0d0d0d;
}

.searchBar {
    width: 100vw;
}

@media screen and (min-width: 500px) {
    .searchBar {
<<<<<<< HEAD
        width: 70vh;
=======
        width: 50vh;
>>>>>>> 65af30fed206db87247d2335e6284c61086e2121
        margin-left: auto;
        margin-right: auto;
    }
}